<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.technicaltest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechnicalTest"
        android:usesCleartextTraffic="true">
        <activity android:name=".ui.rollerShutterPage.RollerShutterActivity" />
        <activity android:name=".ui.lightPage.LightActivity" />
        <activity android:name=".ui.heaterPage.HeaterActivity" />
        <activity android:name=".ui.settings.UserSettings" />
        <activity android:name=".ui.mainActivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>